<!--
/*
 * Django with jQuery File Upload Plugin Demo
 * https://github.com/garmoncheg/django_multiuploader_demo/
 *
 * Copyright 2011, Iurii Garmash
 * http://garmoncheg.blogspot.com/
 */
-->
<meta charset="utf-8">
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" id="theme">
<link rel="stylesheet" href="{{ static_url }}multiuploader/styles/jquery.fileupload-ui.css">
<div id="fileupload">
    <form action="{% url multi %}" method="POST" enctype="multipart/form-data">
        <div class="fileupload-buttonbar">
            <label class="fileinput-button">
                <span>Add files...</span>
                <input type="file" name="files[]" multiple>
            </label>
            <button type="submit" class="start">Start upload</button>
            <button type="reset" class="cancel">Cancel upload</button>
            <button type="button" class="delete">Delete files</button>
        </div>
    </form>
    <div class="fileupload-content">
        <table class="files"></table>
        <div class="fileupload-progressbar"></div>
    </div>
</div>

<div id="help" style="color:gray;">
<h2>
    <p>You can select Multiple files at once using Ctrl(Win) or Command(Mac), or you can drag'n'drop your files on this form.</p>
</h2>
<script id="template-upload" type="text/x-jquery-tmpl">
    <tr class="template-upload{{ open_tv }}if error{{ close_tv }} ui-state-error{{ open_tv }}/if{{ close_tv }}">
        <td class="preview"></td>
        <td class="name">${name}</td>
        <td class="size">${sizef}</td>
        {{ open_tv }}if error{{ close_tv }}
            <td class="error" colspan="2">Error:
                {{ open_tv }}if error === 'maxFileSize'{{ close_tv }}File is too big
                {{ open_tv }}else error === 'minFileSize'{{ close_tv }}File is too small
                {{ open_tv }}else error === 'acceptFileTypes'{{ close_tv }}Filetype not allowed
                {{ open_tv }}else error === 'maxNumberOfFiles'{{ close_tv }}Max number of files exceeded
                {{ open_tv }}else{{ close_tv }}${error}
                {{ open_tv }}/if{{ close_tv }}
            </td>
        {{ open_tv }}else{{ close_tv }}
            <td class="progress"><div></div></td>
            <td class="start"><button>Start</button></td>
        {{ open_tv }}/if{{ close_tv }}
        <td class="cancel"><button>Cancel</button></td>
    </tr>
</script>
<script id="template-download" type="text/x-jquery-tmpl">
    <tr class="template-download{{ open_tv }}if error{{ close_tv }} ui-state-error{{ open_tv }}/if{{ close_tv }}">
        {{ open_tv }}if error{{ close_tv }}
            <td></td>
            <td class="name">${name}</td>
            <td class="size">${sizef}</td>
            <td class="error" colspan="2">Error:
                {{ open_tv }}if error === 1{{ close_tv }}File exceeds upload_max_filesize (php.ini directive)
                {{ open_tv }}else error === 2{{ close_tv }}File exceeds MAX_FILE_SIZE (HTML form directive)
                {{ open_tv }}else error === 3{{ close_tv }}File was only partially uploaded
                {{ open_tv }}else error === 4{{ close_tv }}No File was uploaded
                {{ open_tv }}else error === 5{{ close_tv }}Missing a temporary folder
                {{ open_tv }}else error === 6{{ close_tv }}Failed to write file to disk
                {{ open_tv }}else error === 7{{ close_tv }}File upload stopped by extension
                {{ open_tv }}else error === 'maxFileSize'{{ close_tv }}File is too big
                {{ open_tv }}else error === 'minFileSize'{{ close_tv }}File is too small
                {{ open_tv }}else error === 'acceptFileTypes'{{ close_tv }}Filetype not allowed
                {{ open_tv }}else error === 'maxNumberOfFiles'{{ close_tv }}Max number of files exceeded
                {{ open_tv }}else error === 'uploadedBytes'{{ close_tv }}Uploaded bytes exceed file size
                {{ open_tv }}else error === 'emptyResult'{{ close_tv }}Empty file upload result
                {{ open_tv }}else{{ close_tv }}${error}
                {{ open_tv }}/if{{ close_tv }}
            </td>
        {{ open_tv }}else{{ close_tv }}
            <td class="preview">
                {{ open_tv }}if thumbnail_url{{ close_tv }}
                    <a href="${url}" target="_blank"><img src="${thumbnail_url}"></a>
                {{ open_tv }}/if{{ close_tv }}
            </td>
            <td class="name">
                <a href="${url}"{{ open_tv }}if thumbnail_url{{ close_tv }} target="_blank"{{ open_tv }}/if{{ close_tv }}>${name}</a>
            </td>
            <td class="size">${sizef}</td>
            <td colspan="2"></td>
        {{ open_tv }}/if{{ close_tv }}
        <td class="delete">
            <button data-type="${delete_type}" data-url="${delete_url}">Delete</button>
        </td>
    </tr>
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script src="{{ static_url }}multiuploader/scripts/jquery.iframe-transport.js"></script>
<script src="{{ static_url }}multiuploader/scripts/jquery.fileupload.js"></script>
<script src="{{ static_url }}multiuploader/scripts/jquery.fileupload-ui.js"></script>
<script src="{{ static_url }}multiuploader/scripts/application.js"></script>